[31m2026-03-19 06:43:57[0;39m [36m[][0;39m [32m[HikariPool-1 housekeeper][0;39m [31mWARN [0;39m [1;35mcom.zaxxer.hikari.pool.HikariPool[0;39m - [30mHikariPool-1 - Thread starvation or clock leap detected (housekeeper delta=17m51s141ms).
[0;39m[31m2026-03-19 06:59:53[0;39m [36m[][0;39m [32m[HikariPool-1 housekeeper][0;39m [31mWARN [0;39m [1;35mcom.zaxxer.hikari.pool.HikariPool[0;39m - [30mHikariPool-1 - Thread starvation or clock leap detected (housekeeper delta=15m55s681ms).
[0;39m[31m2026-03-19 07:16:18[0;39m [36m[][0;39m [32m[HikariPool-1 housekeeper][0;39m [31mWARN [0;39m [1;35mcom.zaxxer.hikari.pool.HikariPool[0;39m - [30mHikariPool-1 - Thread starvation or clock leap detected (housekeeper delta=15m55s682ms).
[0;39m[31m2026-03-19 07:32:14[0;39m [36m[][0;39m [32m[HikariPool-1 housekeeper][0;39m [31mWARN [0;39m [1;35mcom.zaxxer.hikari.pool.HikariPool[0;39m - [30mHikariPool-1 - Thread starvation or clock leap detected (housekeeper delta=15m55s757ms).
[0;39m[31m2026-03-19 07:48:40[0;39m [36m[][0;39m [32m[HikariPool-1 housekeeper][0;39m [31mWARN [0;39m [1;35mcom.zaxxer.hikari.pool.HikariPool[0;39m - [30mHikariPool-1 - Thread starvation or clock leap detected (housekeeper delta=15m55s800ms).
[0;39m[31m2026-03-19 08:25:25[0;39m [36m[][0;39m [32m[HikariPool-1 housekeeper][0;39m [31mWARN [0;39m [1;35mcom.zaxxer.hikari.pool.HikariPool[0;39m - [30mHikariPool-1 - Thread starvation or clock leap detected (housekeeper delta=36m14s785ms).
[0;39m[31m2026-03-19 08:41:51[0;39m [36m[][0;39m [32m[HikariPool-1 housekeeper][0;39m [31mWARN [0;39m [1;35mcom.zaxxer.hikari.pool.HikariPool[0;39m - [30mHikariPool-1 - Thread starvation or clock leap detected (housekeeper delta=16m25s730ms).
[0;39m[31m2026-03-19 11:33:21[0;39m [36m[][0;39m [32m[HikariPool-1 housekeeper][0;39m [31mWARN [0;39m [1;35mcom.zaxxer.hikari.pool.HikariPool[0;39m - [30mHikariPool-1 - Retrograde clock change detected (housekeeper delta=29s761ms), soft-evicting connections from pool.
[0;39m